<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div layout:fragment="siteContent" class="col-6 mx-auto">
    <div class="row">
        <div class="col-6 mx-auto">
            <form th:action="@{'/to_change_password'}" method="post">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${param.oldpassworderror != null}">
                    OLD PASSWORD DO NOT CORRECT!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${param.passwordmismatch != null}">
                    NEW PASSWORDS ARE NOT SAME!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-success  alert-dismissible fade show" role="alert"
                     th:if="${param.success != null}">
                    YOU ARE SUCCESSFULLY CHANGED PASSWORD
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>OLD PASSWORD</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>
                            <input type="password" class="form-control" name="user_old_password"
                                   required placeholder="Old Password">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>NEW PASSWORD</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>
                            <input type="password" class="form-control" name="user_new_password"
                                   required placeholder="New Password">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>REPEAT NEW PASSWORD</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>
                            <input type="password" class="form-control" name="user_new_repeat_password"
                                   required placeholder="Repeat New Password">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">CHANGE PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</html>